<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BookMapper">
<resultMap type="Book" id="book"></resultMap>
	<select id="getAllBook" resultMap="book">
		SELECT * FROM book_info
	</select>
	<select id="findByBame" resultMap="book" parameterType="String">
		SELECT * FROM book_info
		WHERE book_bame LIKE CONCAT('%',#{name},'%')
	</select>
	<select id="findByAuthor" resultMap="book" parameterType="String">
		SELECT * FROM book_info
		WHERE book_author LIKE CONCAT('%',#{name},'%')
	</select>
	<select id="findByPublish" resultMap="book" parameterType="String">
		SELECT * FROM book_info
		WHERE book_publish LIKE CONCAT('%',#{name},'%')
	</select>
	<insert id="saveBook" parameterType="book">
		INSERT INTO book_info(book_bame,book_author,book_publish,book_page,book_price,creation_time)	
		VALUES(#{book_bame},#{book_author},#{book_publish},#{book_page},#{book_price},DEFAULT)
	</insert>
</mapper>